@import "../layout/layout.scss";

// SCSS for Sign Up form
$form-container-bg: #f9f9f9;
$input-border-color: #ccc;
$button-bg: #28a745;
$button-hover-bg: darken($button-bg, 10%);
$text-color: #333;

.form-container {
  width: 350px;
  margin: 50px auto;
  padding: 20px;
  background-color: $form-container-bg;
  border: 1px solid $input-border-color;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .header {
    text-align: center;
    margin-bottom: 20px;
    color: $text-color;
    font-size: 1.8rem;
  }

  .error {
    margin: 15px 0;
    color: rebeccapurple;
  }

  .form {
    display: flex;
    flex-direction: column;

    .input-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;

      label {
        align-self: flex-start;
        margin-bottom: 5px;
        font-weight: bold;
        color: $text-color;
      }

      input {
        padding: 8px;
        font-size: 1rem;
        border: 1px solid $input-border-color;
        border-radius: 4px;

        &:focus {
          outline: none;
          border-color: $button-bg;
          box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
        }
      }
    }
    .pass {
      position: relative;
      input {
        width: 100%;
      }
      svG {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: black;
        transform: color 0.3 ease;
        cursor: pointer;
        &:hover {
          color: $button-bg;
        }
      }
    }

    .submit-button {
      background-color: $button-bg;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 1rem;
      text-align: center;

      &:hover {
        background-color: $button-hover-bg;
      }
    }
  }

  .bottom {
    margin: 10px 0;
    h6 {
      font-size: 16px;
      padding-top: 15px;
    }
    .sign-in {
      padding: 0 2px;
      text-decoration: underline;
      color: $button-bg;
      &:hover {
        color: $button-hover-bg;
      }
    }
  }
}
