@import "../../responsive.scss";

nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  a {
    transition: all 0.4s ease;

    @include sm {
      display: none;
    }

    &:hover {
      scale: 1.05;
    }
  }

  .left {
    flex: 3;
    display: flex;
    align-items: center;
    gap: 50px;

    .logo {
      font-weight: bold;
      font-size: 20px;
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 28px;
      }

      span {
        @include md {
          display: none;
        }

        @include sm {
          display: initial;
        }
      }
    }
  }
  .right {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // background-color: #fcf5f3;
    background-color: #fcf5f3;
    height: 100%;

    @include md {
      background-color: transparent;
    }

    a {
      padding: 12px 24px;
      margin: 20px;
    }

    .user {
      display: flex;
      align-items: center;
      font-weight: bold;
      .link {
        display: block;
        z-index: 990;
        margin: 0 15px;
        padding: 0;
        border-radius: 50%;
        overflow: hidden;
        transition: all 0.7s ease;
        cursor: pointer;
        img {
          width: 48px;
          height: 48px;
          object-fit: cover;
        }
      }

      span {
        @include sm {
          display: none;
        }
      }

      .profile {
        padding: 12px 24px;
        background-color: #fece51;
        cursor: pointer;
        border: none;
        position: relative;

        .notification {
          position: absolute;
          top: -8px;
          right: -8px;
          background-color: red;
          color: white;
          border-radius: 50%;
          width: 26px;
          height: 26px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .register {
      background-color: #fece51;
    }

    .mobile {
      display: none;
      align-items: center;
      justify-content: flex-end;
      height: 100%;
      .user-icon {
        display: none;
        z-index: 997;
        margin-right: 10px;
        color: white;
        opacity: 0.829;
        transition: all 0.35s ease;
        padding: 5px;
        background: #000;
        border-radius: 50%;
        cursor: pointer;
        @include sm {
          display: inline;
        }
        &:hover {
          opacity: 1;
        }
        svg {
          height: 36px;
          width: 36px;
          padding: 5px;
        }
      }

      .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        margin-left: 10px;
        .menuIcon {
          position: absolute;
          display: none;
          z-index: 999;
          opacity: 0.829;
          transition: all 0.35s ease;
          padding: 5px;
          background: #000;
          border-radius: 50%;
          cursor: pointer;
          &:hover {
            opacity: 1;
          }
          img {
            width: 36px;
            height: 36px;
          }
  
          @include sm {
            display: inline;
          }
        }
        .closeIcon {
          position: absolute;
          display: none;
          z-index: 999;
          border-radius: 50%;
          transition: all 0.1s ease;
          cursor: pointer;
          background-color: black;
          padding: 5px;
          img {
            width: 36px;
            height: 36px;
            padding: 5px;
          }
  
          @include sm {
            display: inline;
          }
        }
      }
      .menu {
        position: absolute;
        right: 0;
        top: 0;
        width: 60%;
        height: 100vh;
        background-color: rgb(26, 25, 25);
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.35s ease;
        z-index: 998;
        a {
          @include sm {
            display: block;
          }
          font-size: 20px;
          color: white;
          &:hover {
            text-decoration: underline;
          }
        }
        @include sm {
          display: flex;
        }
      }
      .close {
        right: -60%;
        width: 0;
      }
      @include sm {
        display: flex;
      }
    }
  }
}
